
body {
	background-color: #171510;
}

ul {
	background-color: #171510;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	color: white;
	text-align: center;
	padding: 8px;
	margin: 0px;
	box-shadow: inset -2px -2px 3px 3px #bbbab7;
}

li:hover {
	box-shadow: inset 2px 2px 3px 3px #bbbab7;
	color: blue;
	cursor: pointer;
}

select {
	color: white;
	background-color: #171510;
	width: 100%;
}

header {
	margin: auto;
	padding: 15px;
}

.container {
	max-width: 1000px;
	margin: auto;
}

.leftHeader {
	text-align: center;
}

.toggleNav {
	color: white;
	width: 45px;
	font-size: 35px;
	margin-top: 7px;
	box-shadow: inset -2px -2px 3px 3px #bbbab7;
}

.toggleNav:hover {
	box-shadow: inset 2px 2px 3px 3px #bbbab7;
	color: blue;
	cursor: pointer;
}

.headerBar {
	color: white;
	text-shadow: 2px 2px 4px lightslategrey;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

.navBar {
	padding-right: 0px;
}

.filterContainer {
	margin-bottom: 15px;
}

.locationName {
	margin: 0px;
	border-radius: 20px;
	box-shadow: none;
}

.locationNav {
	margin-left: 25px;
	border: solid 1px slategrey;
	border-radius: 20px;
}

.infoHeader {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.infoText {
	text-align: center;
}

.rating {
	padding: 4px;
	margin: 3px;
	font-size: 18px;
	background-color: #e2dddd;
	border-radius: 5px;
}

#map {
	height: 600px;
}

#pano {
    width: 200px;
    height: 200px;
}

.left.col-xs-12 {
	font-size: 20px;
}

@media screen and (min-width: 692px) and (max-width: 800px) {
	li {
		font-size: 15px;
	}

	#map {
		height: 400px;
	}
}

@media screen and (max-width:691px) {
	#map {
		height: 400px;
	}
	.headerBar {
		font-size: 25px;
	}

}
