
body {
	background-color: #171510;
}

ul {
	background-color: #171510;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	color: white;
	text-align: center;
	padding: 8px;
	box-shadow: inset -2px -2px 3px 3px #bbbab7;
	margin-left: 5px;
	border: solid 1px #171510;
}

li:hover {
	box-shadow: inset 2px 2px 3px 3px #bbbab7;
	color: blue;
	cursor: pointer;
}

select {
	color: white;
	background-color: #171510;
	width: 95%;
	margin-left: 5px;
	margin-right: 10px;
}

.error {
	font-style: italic;
}

.container {
	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.header {
	color: white;
	text-shadow: 2px 2px 4px lightslategrey;
	text-align: center;
	width: 100%;
	font-size: 35px;
	font-weight: bold;
	padding: 25px;
}

.left {
	width: calc((100% / 5) - 20px);
}

.right {
	width: calc((100% / 5) * 4 - 20px);
	padding: 5px;
}

.navBar {
	margin-top: 100px;
	padding-right: 0px;
}

.filterContainer {
	margin-bottom: 15px;
}

.locationName {
	margin: 0px;
	border-radius: 20px;
	box-shadow: none;
}

.locationNav {
	margin-left: 25px;
	border: solid 1px slategrey;
	border-radius: 20px;
}

.infoHeader {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.infoText {
	text-align: center;
}

.rating {
	padding: 4px;
	margin: 3px;
	font-size: 18px;
	background-color: #e2dddd;
	border-radius: 5px;
}

#nav-toggle {
	color: white;
	box-shadow: inset -2px -2px 3px 3px #bbbab7;
	border-radius: 5px;
	font-size: 30px;
	width: 40px;
	height: 40px; 
	padding: 4px;
	margin: 10px;
	text-align: center;
	display: none;
	float: left;
}

#nav-toggle:hover {
	box-shadow: inset 2px 2px 3px 3px #bbbab7;
	color: blue;
}

.title {
	float: right;
}

#map {
	height: 600px;
	margin-left: 5px;
	z-index: 2;
}

#pano {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	li {
		font-size: 15px;
	}

	#map {
		height: 400px;
		z-index: 2;
	}

	.navBar {
		display:inline-block;
	}
}

@media screen and (max-width:650px) {
	#nav-toggle {
		display: inline-block;
	}

	.navBar {
		display: none;
		width: 250px;
	}
}